/* Audio Player */
html body {
	.audiogallery {
		.nav-main {
			height: auto !important;
			max-height: 80vh;
		}
	}

	.dzsap-sticktobottom-for-skin-wave {
		background-color: @white;
		color: @grey-dark;
		padding: @baseSpacing;

		.player-but .the-icon-bg {
			border-color: @grey-light;
		}
	}
}