html body {
	// Buttons
  .button {
    background-color: #990100;
    border-radius: 3px;
    color: @white;
    display: inline-block;
    font-size: 1.2em;
    font-weight: @font-weight-heavy;
    letter-spacing: 0.1em;
    margin: 30px auto 0;
    max-width: 420px;
    padding: 20px 30px;
    text-transform: uppercase;
  }

  .button:hover,
  .button:focus {
    background-color: #333;
    color: #111;
  }

  .button:focus {
    outline: none;
  }

  .button-alt,
  a.button-alt {
    background-color: @black;
    color: @white;
  }

  .icon-button {
  	position: relative;

  	.fa {

  	}
  }
}