html body {
  .sr-only {
    .sr-only();
  }

  //  Images
  img,
  iframe,
  svg {
    max-width: 100%;
  }

  a img {
    .hover-fade();
  }

  .icon-button {
  	position: relative;
  }

  // iframes
  .fluid-width-video-wrapper {
    // .element-large();
    border: @border-thick;
  }

  i,
  .fa,
  .btn-zoomsounds {
    &::before,
    &::after {
      color: @button-text-color;
    }
  }

  .extra-html .btn-zoomsounds {
    &::before,
    &::after {
      color: @grey-lighter;
    }    
  }
}

// WooCommerce Buttons
html body {
  &,
  &.woocommerce {
  ul.products li.product,
    div.product {
      a.button,
      button.button {
        .button();

        &.product_type_variable,
        &.buy {
          .button(@button-buy-color, @white);
        }

        &.single_add_to_cart_button {
          .button(@button-buy-color; @white;);
          margin: (@baseSpacing / 2) 0;

          &.alt.disabled {
            .button(@button-buy-color; @white;);
            .hover-fade(reverse);
            margin: (@baseSpacing / 2) 0;
          }
        }
      }
    }
  }
}