/* Footer */
html body footer {
  background-color: @black;
  color: @grey-lighter;
  text-align: center;
  width: 100%;
  z-index: @z-index-footer;

  .container {
    padding: @baseSpacing (@baseSpacing * 2);
    
    span {
      font-size: @font-size-sm;
      line-height: 1.3em;
      text-transform: uppercase; //

      a {
        color: @white;
      }
    }

    .widget {
      float: left;

      ul li a {
        padding: (@baseSpacing / 2) 0;
      }

      &.widget.widget_nav_menu ul li {
        display: inline;
        margin: @baseSpacing;
      }
    } 
  }
}

footer .widget.widget_nav_menu ul li {
  display: inline;
  margin: 15px;
}

footer .fa {
	border-color: @white;
  color: @white;
}

footer .fa a,
footer .fa::before {
	border-radius: 50%;
}

footer .fa:hover,
footer .fa:hover::before {
  border-color: @white;
  background-color: @white;
  color: #111;
}