/* Header */
#header {
  .make-col(12,0);
  background: @brand-color;
  border-bottom: 1px solid @brand-color; //
  height: 120px;
  z-index: @z-index-header;

  .container {
    padding: @baseSpacing / 2;

    > div {
      .flex-center();
    }

    .logo-wrap {
      .make-col(1, (@baseSpacing / 2));
      .make-col-sm(3,0);
      .make-col-xs(2,0);
      z-index: @z-index-logo;

      .custom-logo-link img {
        display: block;
        height: auto;
        max-height: 80px;
        opacity: 1;
        width: auto;
      }

      .logo h1 {
        color: @white;
        line-height: 1em;
        margin: 18px 0 20px 30px;
        text-shadow: 0px 0px 1px #000;
      }
    }

    .search-wrap {
      .make-col(2, (@baseSpacing / 2));
      .push(1);

      .searchform {
        input[type=text] {
          background-color: transparent;
          border: none;
          border-bottom: 3px solid @black;
          color: @black;
          padding-left: @baseSpacing / 2;
        }

        .fa::before {
          color: @text-color;
        }
      }
    }

    .nav-wrap {
      .make-col(6, (@baseSpacing / 2));
      .make-col-sm(12);
      .push(2);
      align-items: center;
      display: flex;
      height : 100%;
      justify-content: center;

      ul {
        margin: 0;
        text-align: right;

        li {
          display: inline-block;
          margin-bottom: 0;

          a {
            color: @black;
            display: inline-block;
            font-weight: @font-weight-heavy;
            padding: 0 (@baseSpacing / 2);
            text-transform: uppercase;

            &:hover,
            &.active {
              color: @grey-dark;
            }
          }
        }
      }
    }
  }
}

@media @maxTablet {
  html body #header {
    height: 90px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    .container {
      .logo-wrap .custom-logo-link img {

      }
    }
  }
}