html body {
	background-color: @grey-dark;
  position: relative;

  .container#primary {
  	#main {
  		.make-col(12, @baseSpacing);

  		.entry-content-page {
        .make-col(12, @baseSpacing, section);
  		}
  	}
  }
}

/* Tablet */
@media @maxTablet {
	html body .container#primary {
		padding: @baseSpacing / 2;

		#main,
		.sidebar {
			.make-col(12, 0);
		}
	}
}