html body {
	background-color: @grey-dark;
  position: relative;

  .container#primary {
  	padding: (@baseSpacing * 2) (@baseSpacing * 3);

  	#main {
  		.make-col(12, @baseSpacing * 2)
  	}
  }
}

/* Tablet */

@media @maxTablet {
	html body .container#primary {
		padding: @baseSpacing / 2;

		#main,
		.sidebar {
			.make-col(12, 0);
		}
	}
}