// Product Lists
html body.woocommerce .product ul.products {
	border-top: @border;

	li.product {
		.make-col(12,0);
		.flex-wrap(0);
		align-items: center;
		border-bottom: @border;
		justify-content: space-between;
		margin: 0;
		text-align: center;

		a img {
			.hover-fade();
			margin-bottom: 0;
			width: auto;
		}

		.woocommerce-loop-product__title {
			line-height: 2rem;
		}

		.price {
			margin-bottom: 0;
		}

		.button {
			margin-top: 0;
		}

		&:last-of-type {
			border-bottom: none;
		}
	}
}

// Product Archive
html body.post-type-archive-product {
	.woocommerce-products-header {
		.make-col(12);
		background-color: @grey-light;
		border-radius: @borderRadius;
		margin-bottom: @baseSpacing * 2;

		.woocommerce-ordering,
		.woocommerce-ordering select {
			margin: 0;
		}
	}
}

//  Product Single
html body.woocommerce.single-product {
	div.product {
		display: flex;
		flex-flow: row wrap;
		margin: @baseSpacing auto;

		form.cart {
			.button {
				clear: both;
				margin-top: @baseSpacing;
			}

			table td {
				clear: both;
				float: left;
			}	
		}

		> .summary {
			.make-col(10);
			.push(1);

			div.images {
				.make-col(2,0);
				padding-right: @baseSpacing;

				img {
					border-radius: @borderRadius;
				}
			}

			.product-info-wrap {
				.make-col(10, 0);

				.product_meta {
					overflow: hidden;
				}
			}
		}

		.woocommerce-tabs {
			.make-col(12);
			margin-bottom: @baseSpacing * 2;

			ul.tabs {
				border-bottom: 0;
				margin-bottom: 0;
				text-align: center;

				li {
					background-color: transparent;
					border: none;
					border-bottom: 5px solid transparent;
					border-radius: 0;

					&.active {
						border-color: red; //
					}

					&::before,
					&::after {
						display: none;
					}
				}
			}

			.panel {
				.make-col(12, (@baseSpacing * 2));
				background-color: @grey-lighter;
				border: @border;
				border-top: none;
			}
		}
	}

	.related {
		.make-col(12);

		ul.products {
			padding: 0;

			li.product {
				.product_meta .taxonomy-list {
					font-size: @font-size-xs;
					margin-bottom: 0;
					padding: 0;
				}
			}
		}
	}
}