// Product Lists
html body.woocommerce .product ul.products { 
	li.product {
		text-align: center;

		a img {
			.hover-fade();
			border-radius: @borderRadius;
			margin-bottom: 0;
		}

		.woocommerce-loop-product__title {
			line-height: 2rem;
		}
	}
}

// Product Archive
html body.post-type-archive-product {
	.woocommerce-products-header {
		.make-col(12);
		background-color: @grey-light;
		border-radius: @borderRadius;
		margin-bottom: @baseSpacing * 2;

		.woocommerce-ordering,
		.woocommerce-ordering select {
			margin: 0;
		}
	}
}

//  Product Single
html body.single-product {
	div.product {
		display: flex;
		flex-flow: row wrap;
		margin: 0 auto;

		form.cart {
			.button {
				clear: both;
				margin-top: @baseSpacing;
			}

			table td {
				clear: both;
				float: left;
			}	
		}

		div.images {
			.make-col(2,0);
			padding-right: @baseSpacing;


			.woocommerce-product-gallery__wrapper {
				float: left;

				img {
					border-radius: @borderRadius;
					margin-bottom: @baseSpacing / 2;
				}
			}
		}

		> .summary {
			.make-col(10);
			.push(1);
		}

		> .woocommerce-tabs {
			.make-col(12);

			ul.tabs {
				margin-bottom: 0;
			}

			.panel {
				.make-col(12, 0 (@baseSpacing * 2));
				border: @border;
				border-top: none;
			}
		}

		> .related {
			.make-col(12);

			ul.products {
				padding: 0;
			}
		}
	}
}