// Search Form
html body .searchform {
	overflow: hidden;
	position: relative;
	width: 100%;

	input[type=text] {
		background-color: transparent;
		border: @border;
		margin: 0;
		padding: (@baseSpacing / 2) @baseSpacing;
		width: 100%
	}

	.icon-button {
		display: flex;
		margin-top: 1px;
		padding: @baseSpacing / 2;
		position: absolute;
		right: @baseSpacing / 3;
		top: 0;

		input[type=submit] {
			background-color: transparent;
			position: absolute;
		}
	}
}


// Search Results