// Categories and Tags
html body .taxonomy-list {
	margin: (@baseSpacing / 2) 0;
	padding: @baseSpacing 0;

	li {
		background-color: @white;
		border: @border;
		border-radius: @borderRadius;
		display: inline-block;
		font-size: @font-size-sm;
		margin: @baseSpacing / 4;
		padding: (@baseSpacing / 3) (@baseSpacing / 2);

		&:hover {
    	.transition(color, @transition-speed-fast);
			color: @hover-color;
		}
	}
}