/* Text */

p {
  font-weight: 400;
  line-height: 1.6em; 
}

strong {
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

time {
  color: #999;
  display: block;
  font-size: 0.8em;
  margin: 10px auto;
}

a {
  color: #111;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
}

a:active,
a:hover {
  color: #E41A5C;
}

a.btn {
  background-color: #990100;
  border-radius: 3px;
  color: @white;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 30px auto 0;
  max-width: 420px;
  padding: 20px 30px;
  text-transform: uppercase;
}

a.btn:hover,
a.btn:focus {
  background-color: #333;
  color: #111;
}

.btn:focus {
  outline: none;
}

.btn-alt,
a.btn-alt {
  background-color: #000;
  color: @white;
}

h1, h2, h3, h4 {
	color: @black;
  font-family: @font-family-title;
  font-weight: 400;
}

h1 {
	font-size: 2.2rem;
	font-weight: 600;
  letter-spacing: @letter-spacing-title;
	margin: 0 0 (@baseSpacing / 2);
  text-transform: uppercase;
}

h2 {
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 3em;
  max-width: 100%;
}
  
h3 {
  font-size: 1.5rem;
  letter-spacing: 0.01rem;
  line-height: 1.1rem;
  margin: @baseSpacing auto;
}

ul li {
  line-height: 1.4em;
  list-style-type: none;
  margin-bottom: 30px;
}

ul li h4 {
  line-height: 1.2em;
  text-transform: none;
}

li:hover time {
	opacity: 1;
}

label {
  clear: both;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  width: 100%;
}
