// Media Sizes
@maxDesktopLg: ~"only screen and (min-width: 1800px)";
@minDesktop: ~"only screen and (min-width: 1200px)";
@minTablet: ~"only screen and (min-width: 900px)";
@minPhone: ~"only screen and (min-width: 600px)";

@maxDesktop: ~"only screen and (max-width: 1799px)";
@maxTablet: ~"only screen and (max-width: 1199px)";
@maxPhone: ~"only screen and (max-width: 899px)";
@maxPhoneSm: ~"only screen and (max-width: 599px)";

// Grid
@container-width: 1400px;
@baseColumnCount: 12;
@baseSpacing: 20px;

// Colors
@black: #000;
@grey: #AAAAAA;
@grey-light: #D3CED2;
@grey-lighter: lighten(@grey-light, 10%);
@grey-dark: darken(@grey, 52%);
@white: #FFFFFF;

@blue: #241392;
@green: #41CF41;
@purple: #510A8E;
@red: #D30000;
@yellow: #D3A700;
@yellow-light: #FACC1E;

@brand-color: @yellow;
@text-color: @grey-light;
@link-color: @brand-color;
@button-text-color: @black;
@button-background-color: @yellow-light;

@hover-color: @brand-color;
@hover-opacity: 0.7;

@semi-transparent-color: rgba(0,0,0,0.7);

// Text Base
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i|Raleway:700,700i,900,900i');
@font-family-title:  "Montserrat", "Franklin Gothic Medium", Tahoma, 'Open Sans', sans-serif;
@font-family-sans: "Montserrat", "Franklin Gothic Medium", Tahoma, 'Open Sans', sans-serif;

@font-size-base: 16px;

@font-size-xxl: 56px;
@font-size-xl: 36px;
@font-size-lg: 30px;
@font-size-md: @font-size-base;
@font-size-sm: 13px;
@font-size-xs: 10px;

// Buttons
@font-size-title: @font-size-xxl;
@font-size-icon: 36px;
@font-size-button: @font-size-sm;

@font-weight-medium: 400;
@font-weight-heavy: 600;

// Text Styles
@font-family-body: @font-family-sans;
@font-family-button: @font-family-sans;

@letter-spacing-body: 0.046rem;
@letter-spacing-heading: 0.12rem;
@letter-spacing-title: 0.14rem;

@line-height-title: 3rem;
@line-height-heading: 1.86rem;
@line-height-body: 1.6rem;
@line-height-sm: 1.14rem;

@line-height-btn: @line-height-body;

// Borders
@border: 1px solid @grey-dark;
@border-dark: 1px solid @grey-dark;
@border-light: 1px solid @grey-light;
@borderRadius: 5px;
@border-radius-large: 30px;
@border-radius-small: 5px;

// Transitions
@transition-speed: 0.3s;
@transition-speed-fast: 0.1s;

@box-shadow: 0 0 6px -1px @grey;
@box-shadow-vertical: 0px 5px 20px -10px @grey;

// Z-Indexes
@z-index-header: 700;
@z-index-footer: 600;
