// Product Lists
html body #primary .product-playlist {
	.make-col(12, 0, section);
	// margin: 0;
	// margin-bottom: 0;

	ul.products {
		li.product {
			.make-col(12,0);
			.flex-wrap(0);
			align-items: center;
			border-bottom: @border-dark;
			justify-content: space-between;
			margin: 0;
			text-align: center;
			
			// Inner Cells
			> div {
				text-align: left;

				&.image-cell {
					.make-col(2,0);
					position: relative;

					img {
						display: block;
						height: auto;
						border-radius: 0;
						margin-bottom: 0;
						width: 100%;
					}

					.audioplayer.skin-minimal {
						.hover-fade(reverse);

						.ap-controls .con-controls {
							margin: 0;
						}
					}
				}

				&.title-cell {
					.make-col(3,0 @baseSpacing);
					.make-col-sm(4,0 @baseSpacing);
					h2 {
						color: @grey;
						display: inline;
						font-size: @font-size-md;
						line-height: @line-height-sm;
					}
				}

				&.price-cell {
					.make-col(2,0 (@baseSpacing / 2));
					.make-col-sm(4,0 (@baseSpacing / 2));
					text-align: center;

					.price {
						margin-bottom: 0;
					}
				}

				&.tax-cell {
					.make-col(4, 0 (@baseSpacing / 2));
					.product_meta .taxonomy-list {
						margin-bottom: 0;
						padding: 0;
						
						li {
							margin: @baseSpacing / 5;

							a {
								font-size: @font-size-xs;
								font-weight: @font-weight-heavy;
							}
						}
					}
				}

				&.button-cell {
					.make-col(1, 0);
					text-align: center;

					.button {
          	.button-small(@button-buy-color, @white);
						float: right;
						margin: 0;

						.fa {
							margin: 0;
						}
					}
				}
			}

			&:first-of-type {
				border-top: @border-dark;
			}
		}
	}

	.woocommerce-loop-product__title {
		line-height: @line-height-sm;
	}

	.price {
		margin-bottom: 0;
	}

	.button {
		margin-top: 0;
	}
}

//  TODO: Trife
html body .wc-dzsap-wrapper {
	&.wc-dzsap-wrapper.go-to-thumboverlay {
		background-color: transparent;
	}

	.audioplayer.skin-minimal .ap-controls {
		.con-controls {
			margin-top: -80%; //
		}
	}
}

html body .dzsap-sticktobottom {
	.transparency-gradient-bg();
}

html body .extra-btns-con {
	left: @baseSpacing / 3;
	position: absolute;
	top: 0;
} 

//  Responsive Product Playlist
@media @maxPhone{
	html body #primary .product-playlist {
			ul.products li.product {
				> div.tax-cell {
					display: none;
			}
		}
	}
}

@media @maxPhoneSm {
	html body #primary .product-playlist {
		padding: 0;

		ul.products li.product {
			min-height: 92px;
			padding-left: 110px;
			position: relative;

			> div {
    		float: left;

				&.image-cell {
					position: absolute;
					left: 0;
					width: 100px;

					img {
						max-width: 100%;
					}

					.audioplayer {
						.flex-center();

						* {
							border-radius: 50%;
							max-height: 80px;
							max-width: 80px;

							&.ap-controls .con-playpause>*>svg path {
								height: 40px;
								width: 40px;
							}
						}
					}
				}

				&.title-cell {
					padding: (@baseSpacing / 3) 0 0 0;
    			width: auto;

					h2 {
						display: block;
						margin: 0;
						padding: 0;
					}
				}

				&.price-cell {
    			padding: 0;
    			width: auto;

					.price {
						display: inline;
					}
				}

				&.button-cell {
					width: 100%;

					.button {
						margin-bottom: (@baseSpacing / 3);
					}
				}
			}
		}
	}
}