// Product
html body.woocommerce div.product {	
	p.price,
	.woocommerce div.product span.price {
		color: @green;
		width: auto;
	}
}

html body {
	.product {
		text-align: center;

		img {
			border-radius: @borderRadius;
		}
	}
}

//  PDP
html body.woocommerce.single-product {
	div.product {
		display: flex;
		flex-flow: row wrap;
		text-align: left;

		.audioplayer.skin-wave .audioplayer-inner {
			margin-top: @baseSpacing;
		}

		form.cart {
			float: left;
			margin-bottom: 0;

			.variations {
				margin-bottom: 0;

				td	{
					clear: both;
					float: left;

					select {
						margin: 0;
					}
				}	
			}

			.button {
				clear: both;
				margin-top: @baseSpacing;
			}
		}

		> .summary {
			.make-col(12, @baseSpacing, section);

			div.images {
				margin-bottom: @baseSpacing;
				padding-right: @baseSpacing;
				width: auto;
			}

			.extra-btns-con {
				position: absolute;
				right: @baseSpacing / 2;
				top: @baseSpacing / 3;
			}
		}


		.woocommerce-tabs {
			color: @grey;
			width: 100%;

			a {
				color: @black;
			}

			ul.tabs {
				margin-bottom: 0;
				padding-left: 0;
				text-align: center;

				&:before {
					display: none;
				}

				li {
					background-color: transparent;
					border: none;
					border-bottom: 5px solid transparent; 
					border-radius: 0;

					> a {
						color: @grey;
					}

					&.active {
						border-color: @red;

						a {
						 	color: @white;
						}
					}

					&::before,
					&::after {
						display: none;
					}
				}
			}

			.panel {
				.make-col(12, @baseSpacing * 2);
				background-color: @black;

				#reviews {
					#comments,
					#review_form_wrapper {
						.make-col(6);
						float: right;

						.stars a {
							color: @yellow;
						}

						.woocommerce .star-rating {
							color: @yellow;
						}
					}

					#comments {
						ol.commentlist li img.avatar {
							border-radius: 50%;
							padding: 0;
						}
					}
				}

				.product-playlist {
					overflow: hidden;
					padding: 0;
				}
			}
		}
	}
}