// Product – Globals
html body #primary { // TODO: Use a better selector
	&,
	&.woocommerce {
		div.product,
		ul.products {
			float: left;
			margin-bottom: 0;
			width: 100%;

			img {
				border-radius: @border-radius-sm;
				margin: 0;
				width: auto;
			}

			li.product {
				margin-bottom: 0;
				text-align: center;

				img,
				a img {
					margin-bottom: @baseSpacing / 3;
				}

				a.woocommerce-loop-product__link {
					.flex-wrap(column);
					justify-content: center;
				}

				.woocommerce-loop-product__title {
					line-height: @line-height-sm;
					padding: (@baseSpacing / 3) 0;
				}
			}

			.price {
				line-height: @line-height-sm;
        color: @green;
      }

			#reviews {
				#comments,
				#review_form_wrapper {
					.make-col(6);
					.make-col-sm(12);
					float: right;

					.stars a {
						color: @yellow;
					}

					.woocommerce .star-rating {
						color: @yellow;
					}
				}

				#comments {
					ol.commentlist li {

						.comment-text {
							.make-col(10, @baseSpacing);
							.push(2);
							border-radius: 0;
						}

						img.avatar {
							.make-col(1, 0);
							border-radius: 50%;
						}
					}
				}
			}
		}
	}
}

//  Product – Page (Single)
html body.woocommerce.single-product #primary {
	div.product {
		display: flex;
		flex-flow: row wrap;
		text-align: left;

		.audioplayer.skin-wave .audioplayer-inner {
			margin-top: @baseSpacing;
		}

		form.cart {
			float: left;
			margin-bottom: 0;

			.variations {
				margin-bottom: 0;

				td	{
					clear: both;
					float: left;

					.reset_variations {
						// .button-small();
						display: none !important; //
					}

					select {
						margin: 0;
					}
				}	
			}
		}

		> .summary {
			.make-col(12, @baseSpacing * 3, section);

			div.images {
				margin-bottom: @baseSpacing;
				padding-right: @baseSpacing;
				width: auto;
			}

			.product_meta {
				display: inline-block;
				padding: @baseSpacing (@baseSpacing * 2);
			}

			button.button.single_add_to_cart_button {
				margin-top: @baseSpacing;
				width: 100%;
			}

			.extra-btns-con {
				position: absolute;
				right: @baseSpacing;
				top: @baseSpacing / 2;
			}
		}

		.woocommerce-tabs {
			color: @grey;
			width: 100%;

			a {
				color: @black;
			}

			ul.tabs {
				margin-bottom: 0;
				padding-left: 0;
				text-align: center;

				&:before {
					display: none;
				}

				li {
					background-color: transparent;
					border: none;
					border-bottom: 5px solid transparent; 
					border-radius: 0;

					> a {
						color: @grey;
					}

					&.active {
						border-color: @red;

						a {
						 	color: @white;
						}
					}

					&::before,
					&::after {
						display: none;
					}
				}
			}

			.panel {
				.make-col(12, @baseSpacing * 2, section);
			}
		}
	}
}

@media @maxPhone {
	html body #primary,
	html body.woocommerce.single-product #primary {
		//  PDP
		div.product {
			> .summary {

				.product_meta {
					padding: 0;
				}

				div.images {
					margin-bottom: @baseSpacing / 2;
					padding-right: 0;
				}

				.woocommerce-tabs ul.tabs li {
					width: 100%;
				}
			}
		}

		// Product Lists
		ul.products li.product {
			margin-bottom: @baseSpacing;

			a img {
				height: auto;
				margin-bottom: 0;
				max-width: 160px;
			}
		}	
	}
}

@media @maxPhone {
	html body.woocommerce.single-product #primary {
		//  Generic
		// .dzsap-sticktobottom,
		.summary .wc-dzsap-wrapper {
			.transparency-gradient-bg();
			border-top: @border-dark;
			bottom: 0;
			left: 0;
			padding: @baseSpacing;
			position: fixed;
			right: 0;
			width: 100%;
			z-index: @z-index-audio-player;
		}
	}
}